body{
    box-sizing: border-box;
    background-color: #EEF9BF;
}
header{
    display: flex;
    justify-content: center;
}
p{
    color: #75B79E;
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: -0.004em;
    text-align: left;
    margin: 40px auto 47px auto;
}
main{
    margin-left: 122px;
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #A7E9AF;
    width: 117px;
    height: 146px;
    border: 1px solid #99CEA8;
    border-radius: 5px;
}
img{
    height: 100px;
    width: 100px;
}