body{
    box-sizing: border-box;
    background-color: #EEF9BF;
}
header{
    display: flex;
    justify-content: center;
}
p{
    color: #75B79E;
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: -0.004em;
    text-align: center;
    margin: 40px auto 100px auto;
}
.relogio{
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    height: 30px;
    position: fixed;
    right: 75px;
    top: 165px;
    
}
main{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1130px;
}
img{
    height: 100px;
    width: 100px;
}
.carta {
    margin-left: 34px;
    margin-bottom: 34px;
    width: 117px;
    height: 146px;
    position: relative;
}

.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
    border: 1px solid #99CEA8;
    border-radius: 5px;
}

.frente {
    transform: rotateY(180deg);
}
@media (max-width: 753px){
    .relogio{
        visibility: hidden;
    }
}