body{
    box-sizing: border-box;
    background-color: #EEF9BF;
}
header{
    display: flex;
    justify-content: center;
}
p{
    color: #75B79E;
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: -0.004em;
    text-align: left;
    margin: 40px auto 47px auto;
}
.relogio{
    color: red;
    font-size: 50px;
    height: 50px;
    margin-top: 50px;
    margin-right: 50px;
}
main{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1130px;
}
img{
    height: 100px;
    width: 100px;
}
.carta {
    margin-left: 34px;
    margin-bottom: 34px;
    width: 117px;
    height: 146px;
    position: relative;
}

.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
    border: 1px solid #99CEA8;
    border-radius: 5px;
}

.verso {
    transform: rotateY(180deg);
}